@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/fonts.css);

.page {
  background-color: #1B3764;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Cardo', Times, serif;
}

.header {
  max-width: 1300px;
  height: 109px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header__logo-zone {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 119px;
  height: 35px;
  margin-right: 35px;
}

.header__socials {
  display: flex;
}

.header__logo-link {
  display: flex;
  width: 45px;
  height: 45px;
  background-color: white;
  margin-right: 10px;
}

.header__social-logo {
  margin: auto auto;
}

.header__links {
  display: flex;
  flex-basis: 755px;
  justify-content: space-between;
}

.header__menu {
  display: flex;
  list-style: none;
  flex-basis: 450px;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
}

.header__menu-link {
  font-family: 'Inter', Arial, sans-serif;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.header__menu-link:hover {
  color: #FFCA42;
}

.header__shop-cart {
  border: none;
  padding: 0;
  background-color: #1B3764;
  cursor: pointer;
  margin-right: 20px;
}

.header__shop-cart:hover .header__cart-img{
  filter: invert(1);
}

.order-btn {
  width: 222px;
  height: 66px;
  border: none;
  background-color: #FFCA42;
  color: #1B3764;
  font-size: 19px;
  padding: 0;
  cursor: pointer;
}

.order-btn:hover {
  color: white;
}

.intro {
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
  box-sizing: border-box;
  padding: 0 22px;
}

.intro__info {
  max-width: 588px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.intro__title {
  font-size: 21px;
  letter-spacing: 1.2px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
}

.intro__dash {
  display: inline-block;
  width: 35px;
  height: 2px;
  background-color: #FFCA42;
  margin-bottom: 4px;
  margin-right: 14px;
}

.intro__subtitle {
  font-size: 64px;
  line-height: 78px;
  letter-spacing: 1.3px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 10px 0 24px;
}

.intro__paragraph {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #B4C7E7;
}

.intro__buttons {
  margin: 30px 0 40px;
  padding: 11px 0;
}

.intro__read-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 19px;
  line-height: 36px;
  border-bottom: 1px solid white;
  margin-left: 51px;
  transition: opacity .2s ease-in;
}

.intro__read-btn:hover {
  opacity: .8;
}

.intro__facts {
  list-style-type: none;
  list-style-image: url(../../images/pages/list-dot.svg);
  display: flex;
  column-gap: 60px;
  margin: 0;
  padding: 0 0 0 24px;
}

.intro__fact-title {
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 30px;
}

.intro__fact-text {
  display: block;
  margin-top: 12px;
  font-size: 17px;
  line-height: 27px;
  font-family: 'Inter', Arial, sans-serif;
  color: #B4C7E7;
}

.intro__book-img {
  width: 592px;
  height: 800px;
}

.other-books {
  background-color: #FFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 110px 0 90px;
}

.other-books__title {
  font-size: 42px;
  line-height: 50px;
  color: #1B3764;
  font-weight: normal;
  text-transform: capitalize;
  margin: 0;
}

.dash {
  display: inline-block;
  width: 50px;
  height: 3px;
  background-color: #FFCA42;
}

.other-books__dash {
  margin: 23px 0 10px;
}

.other-books__container {
  max-width: 1300px;
  display: flex;
  gap: 20px;
  margin: 60px 10px;
}

.other-books__book {
  max-width: 630px;
  display: flex;
  gap: 30px;
}

.other-books__book-img {
  width: 285px;
  height: 382px;
}

.other-books__info {
  margin: 38px 0 27px;
}

.other-books__book-title {
  font-size: 32px;
  line-height: 38px;
  font-weight: normal;
  text-transform: capitalize;
  margin: 0;
}

.other-books__cost {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 21px;
  line-height: 33px;
  color: #FFCA42;
  margin: 7px 0 16px;
}

.other-books__description {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 19px;
  line-height: 28.5px;
  color: #969AA0;
  margin: 0 28px 0 0;
}

.other-books__type {
  font-size: 24px;
  line-height: 28px;
  margin: 13px 0 27px;
}

.other-books__order-btn {
  width: 206px;
}

.order-btn_type_transparent {
  border: 2px solid #FFCA42;
  background-color: rgba(0, 0, 0, 0);
}

.about-author {
  background-color: #F5F8FC;
}

.about-author__container {
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  padding: 180px 0 140px;
  margin: 0 auto;
}

.about-author__img-container {
  position: relative;
  box-sizing: border-box;
  min-width: 545px;
  height: 640px;
  border: 10px solid #FFCA42;
}

.about-author__photo {
  position: absolute;
  width: 525px;
  height: 620px;
  object-fit: cover;
  object-position: center;
  right: 50px;
  bottom: 50px;
}

.about-author__info-container {
  display: block;
  max-width: 605px;
}

.about-author__title {
  font-size: 42px;
  line-height: 50px;
  font-weight: normal;
  color: #1B3764;
  text-transform: capitalize;
  margin: 16px 0 0 0;
}

.about-author__dash {
  margin: 23px 0 33px;
}

.about-author__paragraph {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 19px;
  line-height: 34px;
  color: #969AA0;
  margin: 0;
}

.about-author__table {
  border-spacing: 0;
  margin: 20px 0 55px;
}

.about-author__header-cell {
  width: 201px;
  font-size: 54px;
  line-height: 77px;
  font-weight: normal;
  color: #1B3764;
  text-align: left;
  border-right: 1px solid #FFCA42;
  padding: 0 0 0 37px;
}

.about-author__body-cell {
  width: 201px;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 17px;
  line-height: 21px;
  color: #969AA0;
  text-align: left;
  border-right: 1px solid #FFCA42;
  padding: 0 0 0 37px;
}

.about-author__header-cell:nth-child(1), .about-author__body-cell:nth-child(1) {
  padding-left: 12px;
}

.about-author__header-cell:nth-child(3), .about-author__body-cell:nth-child(3) {
  border-right: none;
}

.about-author__contacts {
  max-width: 484px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: #1B3764;
  gap: 40px;
  padding: 15px 20px;
}

.about-author__qr-code {
  width: 130px;
  height: 130px;
}

.about-author__name {
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
  color: #FFCA42;
  margin: 22px 0 11px;
}

.about-author__mail {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  line-height: 28.5px;
  color: #B4C7E7;
  margin: 0;
}

.about-author__phone {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  line-height: 28.5px;
  color: #B4C7E7;
  margin: 5px 0 0 0;
}

.trusted {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 0 130px;
}

.trusted__title {
  font-size: 42px;
  line-height: 50px;
  font-weight: normal;
  text-transform: capitalize;
  color: #1B3764;
  margin: 16px 0 23px;
}

.trusted__companies {
  max-width: 1300px;
  display: flex;
  gap: 16px;
  margin: 50px 0 0 0;
}

.trusted__company {
  max-width: 313px;
  text-align: center;
}

.trusted__company-name {
  font-size: 24px;
  line-height: 29px;
  font-weight: normal;
  color: #1B3764;
  margin: 19px 0;
}

.trusted__company-info {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 19px;
  line-height: 29px;
  color: #969AA0;
  margin: 0;
}

.book-copy {
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0;
  margin: 0 auto;
}

.book-copy-container {
  max-width: 540px;
}

.book-copy__title {
  font-size: 45px;
  line-height: 54px;
  font-weight: normal;
  text-transform: capitalize;
  color: #FFF;
  margin: 0 0 24px 0;
}

.book-copy__paragraph {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 19px;
  line-height: 28.5px;
  color: #B4C7E7;
  margin: 27px 0;
}

.book-copy__order-btn {
  color: #FFF;
}

.book-copy__image {
  width: 560px;
  height: 394px;
}

.learn {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0 140px;
}

.learn__title {
  font-size: 42px;
  line-height: 50px;
  font-weight: normal;
  color: #1B3764;
  text-transform: capitalize;
  margin: 0;
}

.learn__dash {
  margin: 23px 0 90px;
}

.learn__container {
  display: flex;
  gap: 109px;
  align-items: center;
}

.learn__skills {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 303px);
  grid-template-rows: repeat(2, 272px);
  gap: 30px;
  padding: 0;
  margin: 0;
}

.learn__skill {
  background-color: #F4F8FF;
  box-sizing: border-box;
  padding: 30px;
}

.learn__item {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #FFCA42;
  border-radius: 50%;
  text-align: center;
  font-size: 23px;
  line-height: 50px;
  color: #1B3764;
}

.learn__description {
  font-size: 24px;
  line-height: 34px;
  color: #1B3764;
  margin: 30px 0 0 0;
}

.learn__img-container {
  width: 555px;
  height: 652px;
  box-sizing: border-box;
  border: 10px solid #FFCA42;
  position: relative;
}

.learn__image {
  width: 535px;
  height: 632px;
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.knowledge {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4F8FF;
  padding: 120px 0;
}

.knowledge__title {
  font-size: 42px;
  line-height: 50px;
  font-weight: normal;
  color: #1B3764;
  text-transform: capitalize;
  margin: 0;
}

.knowledge__dash {
  margin: 23px 0 70px;
}

.knowledge__chapters {
  display: grid;
  grid-template-columns: repeat(2, 635px);
  grid-template-rows: repeat(2, 242px);
  row-gap: 40px;
  column-gap: 30px;
}

.knowledge__chapter {
  background-color: #FFF;
  box-sizing: border-box;
  padding: 42px 40px 35px;
}

.knowledge__chapter-title {
  font-size: 24px;
  line-height: 29px;
  font-weight: normal;
  text-transform: capitalize;
  color: #1B3764;
  margin: 0;
}

.knowledge__description {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 19px;
  line-height: 32px;
  color: #969AA0;
  padding-right: 25px;
  margin: 21px 0 10px;
}

.knowledge__info {
  list-style-type: none;
  list-style-image: url(../../images/pages/list-dot.svg);
  display: flex;
  gap: 65px;
  padding: 0 0 0 20px;
  margin: 0;
}

.knowledge__info-value {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 17px;
  line-height: 27px;
  color: #969AA0;
}

.knowledge__info-title {
  font-family: 'Cardo', Times, serif;
  font-size: 22px;
  line-height: 30px;
  color: #1B3764;
  padding: 0 10px 0 5px;
}

.knowledge__trial-btn {
  width: 429px;
  height: 76px;
  background-color: #FFCA42;
  border: none;
  font-size: 19px;
  line-height: 28.5px;
  color: #1B3764;
  cursor: pointer;
  margin: 60px 0 34px;
}

.knowledge__trial-btn:hover {
  color: #FFF;
}

.knowledge__contact {
  max-width: 330px;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  line-height: 28.5px;
  color: #969AA0;
  text-align: center;
}

.knowledge__link {
  color: #1B3764;
  text-decoration: none;
}

.reviews {
  background-color: #FFF;
  padding: 130px 0 150px;
}

.reviews__container {
  max-width: 1300px;
  display: flex;
  gap: 50px;
  margin: 0 auto;
}

.reviews__info {
  display: flex;
  flex-direction: column;
}

.reviews__title {
  display: inline-block;
  max-width: 329px;
  font-size: 42px;
  line-height: 50px;
  font-weight: normal;
  color: #1B3764;
  text-transform: capitalize;
  margin: 0;
}

.reviews__dash {
  margin: 23px 0 33px;
}

.reviews__paragraph {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 19px;
  line-height: 34px;
  color: #969AA0;
}

.reviews__rating {
  display: flex;
}

.reviews__rating-list {
  display: flex;
}

.reviews__rating-item {
  background: url(../../images/pages/list-dot.svg) no-repeat center/cover;
}

.half {
  /* background-image: url(../../iamges/pages/) */
}

.hollow {
  /* background-image: url(../../iamges/pages/) */
}

.reviews__link {
  text-transform: capitalize;
}

.reviews__list {
  display: grid;
  grid-template-rows: repeat(2, 292px);
  grid-template-columns: 381px;
  align-content: center;
  gap: 20px;
}

.reviews__item {
  background-color: #1B3764;
}

.reviews__user-data {
  display: flex;
}

.reviews__user-img {
  border-radius: 50%;
}

.reviews__main {
  text-transform: capitalize;
}

.resources {
  background-color: #F4F8FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 130px 0 150px;
}

.resources__title {
  font-size: 42px;
  line-height: 50px;
  font-weight: normal;
  color: #1B3764;
  text-transform: capitalize;
  margin: 0;
}

.resources__dash {
  margin: 23px 0 70px;
}

.resources__articles {
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 622px;
  gap: 20px;
}

.resources__card {
  background-color: #FFF;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.07);
  font-size: 0;
  border-radius: 5px;
  overflow: hidden;
}

.resources__article-img {
  width: 100%;
}

.resources__article-name {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  color: #1B3764;
  margin: 25px 55px 0 30px;
}

.resources__article-description {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 19px;
  line-height: 30px;
  color: #969AA0;
  margin: 19px 30px 13px;
}

.resources__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px 30px;
}

.resources__link {
  font-size: 19px;
  line-height: 22px;
  color: #1B3764;
  text-decoration: none;
  border-bottom: 2px solid #1B3764;
  padding-bottom: 4px;
  transition: opacity .2s ease-in;
}

.resources__link:hover {
  opacity: .8;
}

.resources__date {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #1B3764;
  margin: 0;
}

.updates {
  padding: 120px 0;
}

.updates__container {

}
